/*
  Coding from Life – Sketch 1: fixed layout

  For sketch 1 you'll be positioning elements relative to an element with a fixed
  width and height. For this sketch you can position elements by using pixel values.
*/

body {
  background-color: #EFC149;
}

.frame {
  width: 1000px; /* Or you can use 85w auto */
  height: 600px;/* Or you can use 57w auto */
  background: #F6EADE;
  margin: 30px auto; /* Or you can use 3.5w auto */
  position: relative;
}

/* Your CSS goes here */

.vase{
  height: 280px; /* Or you can use 50% */
  width: 50px; /* Or you can use 100% */
  background-color: blue;
  position: absolute;
  bottom:  28px;
  left:  50px; /* Or you can use 10% */
  z-index: 1;
}
.vasecircle {
  width: 200px;
  height: 200px;
  background: #EE7744;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: 200px;
  z-index: 1;
  background-image: radial-gradient(circle, #A02515, #CD5236, #F1A76F);
}

/* First FLower */
.flower1 {
  position: relative;
}

.flower1 {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-image: radial-gradient(circle, #A02515, #CD5236, #F1A76F);
  margin-top: 50px;
  z-index: 1;
}

.flower1::after, .flower1::before {
  content: '';
  position: absolute;
  background-image: radial-gradient(circle, #A02515, #CD5236, #F1A76F);
  border-radius: 20px;
  width: 120px;
  height: 40px;
  transform: rotate(60deg);
}

.flower1::before {
  transform: rotate(-60deg);
}

/* Second FLower */
.flower2 {
  position: relative;
}

.flower2 {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-image: radial-gradient(circle, #A02515, #CD5236, #F1A76F);
  margin-top: 50px;
  z-index: 2;
}

.flower2::after, .flower2::before {
  content: '';
  position: absolute;
  background-image: radial-gradient(circle, #A02515, #CD5236, #F1A76F);
  border-radius: 20px;
  width: 120px;
  height: 40px;
  transform: rotate(60deg);
}

.flower2::before {
  transform: rotate(-60deg);
}
