@font-face {
    font-family:'novocento';
    src: url('novocento.woff2') format('woff2'),
        url('novocento.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'roboto';
    src: url('roboto.woff2') format('woff2'),
        url('roboto.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body {
  background-color: pink;
}


/* type */

.title{
    font-family: 'novocento';
    text-align: center;
    font-size: 75px;
    margin-top: 15%;
}

.meet{
    font-family: 'novocento';
    text-align: center;
    font-size: 60px;
    margin-top: 3%;
    color: white;
}

 /* MAIN BUTTON */
.button {
  padding: 26px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin-left: 40%;
  margin-top: 3.5%;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 27px;
  font-family: 'novocento';
}

.button1 {
  background-color: transparent; 
  color: white; 
  border: 3px solid white;
}

.button1:hover {
  background-color: white;
  color: #F8CD47;
}



.about{
  background-color: transparent; 
  color: white; 
  border: none;
  font-family: 'novocento';
  font-size: 50px;
  margin-top: 1%;
  text-align: left;
  margin-left: 40%;
}

.about:hover {
  background-color: transparent;
  color: #FBFF47;
}

.ppl{
  background-color: transparent; 
  color: white; 
  border: none;
  font-family: 'novocento';
  font-size: 50px;
  margin-top: 1%;
  text-align: left;
  margin-left: 3%;
}

.ppl:hover {
  background-color: transparent;
  color: #FBFF47;}

.pics{
  background-color: transparent; 
  color: white; 
  border: none;
  font-family: 'novocento';
  font-size: 50px;
  margin-top: 1%;
  text-align: left;
  margin-left: 3%;
}


.pics:hover {
  background-color: transparent;
  color: #FBFF47;
}


.intro{
  color: white; 
  border: none;
  font-family: 'novocento';
  font-size: 50px;
  margin-top: 10%;
  margin-left: 20%;
}

.emily{
  color: white; 
  border: none;
  font-family: 'novocento';
  font-size: 50px;
  text-decoration: none;
}

.emilypic{
  background-size: 20%;
}

.emily: hover{
  color: white; 
  border: none;
  font-family: 'novocento';
  font-size: 50px;
  text-decoration: none;
}

.text{
    color: white; 
  border: none;
  font-family: 'novocento';
  font-size: 50px;
  margin-top: 7%;
  text-align: left;
  margin-left: 3%;
}

.home{
    background-color: transparent; 
  color: white; 
  border: none;
  font-family: 'novocento';
  font-size: 50px;
}
.home:hover {
  background-color: transparent;
  color: hotpink;}
}

