@font-face {
    font-family:'novocento';
    src: url('novocento.woff2') format('woff2'),
        url('novocento.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'roboto';
    src: url('roboto.woff2') format('woff2'),
        url('roboto.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body {
  background-color:  #F8CD47;
}


/* type */

.title{
    font-family: 'novocento';
    text-align: center;
    font-size: 75px;
    margin-top: 15%;
    float: inherit;

}

.meet{
    font-family: 'novocento';
    text-align: center;
    font-size: 60px;
    margin-top: 3%;
    color: white;
    float: inherit;
}

 /* MAIN BUTTON */
.button {
  padding: 18px 110px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin-left: 135%;
  margin-top: 3.5%;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 27px;
  font-family: 'novocento';
  float: inherit;

}

.button1 {
  background-color: transparent; 
  color: white; 
  border: 3px solid white;
  float: inherit;

}

.button1:hover {
  background-color: white;
  color: #F8CD47;
}

    /* LIINKS */
a:link, a:visited {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
   font-size: 55px;
   cursor: pointer;
   font-family: 'novocento';
   display: inline-block;
}

a.ex2 {
  margin-left: 50%;
  float: inherit;
}

a.ex3{
  float: inherit;
}

a:hover, a:active {
   color: #FBFF47;
}

a.ex1:hover, a.ex1:active {color: black;}

    /* LIINK END */