@font-face {
    font-family:'novocento';
    src: url('novocento.woff2') format('woff2'),
        url('novocento.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body {
  background-color:  #F8CD47;
}


/* type */

.title{
    font-family: 'novocento';
    text-align: center;
    font-size: 75px;
    margin-top: 15%;
}

.meet{
    font-family: 'novocento';
    text-align: center;
    font-size: 60px;
    margin-top: 3%;
    color: white;
}

 /* MAIN BUTTON */
.button {
  padding: 26px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin-left: 40%;
  margin-top: 3.5%;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 27px;
  font-family: 'novocento';
}

.button1 {
  background-color: transparent; 
  color: white; 
  border: 3px solid white;
}

.button1:hover {
  background-color: white;
  color: #F8CD47;
}


.main {
  background-color: transparent; 
  color: white; 
  border: none;
  margin-left: 60%;
  margin-top: -40%;
  font-family: 'novocento';
  font-size: 50px;

}

.main:hover {
  background-color: transparent;
  color: #FBFF47;
}


.about {
  background-color: transparent; 
  color: white; 
  border: none;
  margin-left: 73%;
  font-family: 'novocento';
  font-size: 50px;

}

.about:hover {
  background-color: transparent;
  color: #FBFF47;
}



.ppl {
  background-color: transparent; 
  color: white; 
  border: none;
  margin-left: 89%;
  font-family: 'novocento';
  font-size: 50px;
  margin-top: -50%;
}

.ppl:hover {
  background-color: transparent;
  color: #FBFF47;
}