@font-face {
    font-family:'novocento';
    src: url('novocento.woff2') format('woff2'),
        url('novocento.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'roboto';
    src: url('roboto.woff2') format('woff2'),
        url('roboto.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
  background-color:  #F8CD47;}

    /* START */


.about{
  background-color: transparent; 
  color: white; 
  border: none;
  font-family: 'novocento';
  font-size: 50px;
  margin-top: 1%;
  text-align: left;
  margin-left: 40%;
}

.about:hover {
  background-color: transparent;
  color: #FBFF47;
}

.ppl{
  background-color: transparent; 
  color: white; 
  border: none;
  font-family: 'novocento';
  font-size: 50px;
  margin-top: 1%;
  text-align: left;
  margin-left: 3%;
}

.ppl:hover {
  background-color: transparent;
  color: #FBFF47;
}

.pics{
  background-color: transparent; 
  color: white; 
  border: none;
  font-family: 'novocento';
  font-size: 50px;
  margin-top: 1%;
  text-align: left;
  margin-left: 3%;
}


.pics:hover {
  background-color: transparent;
  color: #FBFF47;
}

.index{
    background-color: transparent; 
  color: black; 
  border: none;
  font-family: 'novocento';
  font-size: 50px;
  margin-left: 5%;}

.index:hover {
  background-color: transparent;
  color: #FBFF47;}
}

    /* IMAGE */

.abdiel {
  max-width: 50%;
  max-width: 60%;
}




