@font-face {
    font-family: 'begum';
    src: url('begum.woff2') format('woff2'),
        url('begum.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
/*  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;*/
  background: black;
}

.button{
    display: inline-block;
    justify-content: center;
    margin-left: 20%;
}

a:link, a:visited {
    background-color: transparent;
    color: white;
    -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
   text-decoration: none;
   font-size: 30px;
   cursor: pointer;
    padding: 15px 32px;
   font-family: 'begum';
}


a.ex1:hover, a.ex1:active {
    color: blue;
}

a.ex2:hover, a.ex2:active {
    color: blue;
}

a.ex3:hover, a.ex3:active {
    color: blue;
}

a.ex4:hover, a.ex4:active {
    color: blue;
}
    /* LIINK END */


.container2{
display: flex;
justify-content: center;
}

.project1{
    padding: 0px 40px;
    position: absolute;
    margin-right: 50%;
    margin-top: 5%;
    z-index: 2;
}

.project1:hover{
    opacity: 0;
}


.project2{
    margin-top: 5%;
    position: absolute;
    margin-left: 48%;
    z-index: 2;
}

.project2:hover{
    opacity: 0;
}

.link1{
    font-family: 'begum';
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 28%;
    margin-left: 19%;
}

.link1:hover{
    color: blue;
}

.link2{
    font-family: 'begum';
    font-size: 30px;
    color: white;
    margin-left: 63%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 28%;
}

.link2:hover{
    color: blue;
}

.text1{
    font-family: 'begum';
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 0;
    margin-top: 15%;
    margin-left: 13%;
}

.text2{
    font-family: 'begum';
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 0;
    margin-top: 15%;
    margin-left: 64%;
}

.explain1{
    margin-top: 33%;
    font-family: 'begum';
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    max-width: 42%;
    margin-left: 4%;
}

.explain2{
    margin-top: 33%;
    font-family: 'begum';
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    max-width: 42%;
    margin-left: 53%;
}



/*3rd exercise*/

.project3{
    margin-top: -8%;
    position: absolute;
    margin-left:4%;
    z-index: 1;
}

.project3:hover{
    opacity: 0;
}

.link3{
    font-family: 'begum';
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 63.5%;
    margin-left: 11%;
}

.link3:hover{
    color: blue;
}
.link4{
    font-family: 'begum';
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 63.5%;
    margin-left: 24%;
}

.link4:hover{
    color: blue;
}

.explain3{
    font-family: 'begum';
    font-size: 12px;
    color: white;
    margin-left: 4%;
    max-width: 40%;
    margin-top:15%;
    z-index: 2;
}

.text3{
    font-family: 'begum';
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 0;
    margin-top: 0%;
    margin-left: 14%;
}

/*--------------4th exercise------------------*/

.project4{
    margin-top: -8%;
    position: absolute;
    margin-left:52%;
    z-index: 1;
}

.project4:hover{
    opacity: 0;
}

.text4{
    font-family: 'begum';
    font-size: 50px;
    color: white;
    margin-top: 49%;
    z-index: 0;
    margin-left: 64%;
}
.link5{
    font-family: 'begum';
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 63.5%;
    margin-left: 64%;
}

.link5:hover{
    color: blue;
}

.explain4{
    font-family: 'begum';
    font-size: 12px;
    color: white;
    margin-left: 53%;
    max-width: 45%;
    margin-top:-3.5%;
    z-index: 2;
}

/*------------------5th IMAGE------------------*/
.project5{
    margin-top: -27%;
    position: absolute;
    margin-left:4%;
    z-index: 1;
}

.project5:hover{
    opacity: 0;
}

.link6{
    font-family: 'begum';
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 28%;
    margin-left: 13%;
}

.link6:hover{
    color: blue;
}
.explain5{
    font-family: 'begum';
    font-size: 12px;
    color: white;
    margin-left: 4%;
    max-width: 43%;
    margin-top:32.5%;
    z-index: 2;
}

.text5{
    font-family: 'begum';
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 0;
    margin-top: -18%;
    margin-left: 14%;
}

/*------------------6th IMAGE------------------*/
.project6{
    margin-top: -27%;
    position: absolute;
    margin-left:52%;
    z-index: 1;
}

.project6:hover{
    opacity: 0;
}

.link7{
    font-family: 'begum';
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 27%;
    margin-left: 60%;
}

.link7:hover{
    color: blue;
}
.link8{
    font-family: 'begum';
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 27%;
    margin-left: 74%;
}

.link8:hover{
    color: blue;
}

.explain6{
    font-family: 'begum';
    font-size: 12px;
    color: white;
    margin-left: 52%;
    max-width: 43%;
    margin-top:-4.3%;
    z-index: 2;
}

.text6{
    font-family: 'begum';
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 0;
    margin-top: -18%;
    margin-left: 63%;
}

